@import "../resource/pdefault.less";
.container{
  display: flex;
  .NavList{
    width: 100%;
    min-width: 10px;
    background-color: #001529;
    height: calc(100vh);
  }
  .main{
    flex: 1;
    background: gray;
  }
  .content{
    position: relative;
    padding: 20px;
  }
}
