.container{
  display: flex;
  .NavList{
    width: 15%;
    min-width: 10px;
    height: calc(100vh);
  }
  .main{
    flex: 1;
  
    height: calc(100vh);
  }
  .content{
    position: relative;
    padding: 20px;
  }
}
